@model FinlayWagg.lyHost.Models.TableColumns

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@* Function identifies the registration in the database via the key (ID) and allows the user to view it in full with the option to edit or delete it *@
<div>
    <h4>TableColumns</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeadDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WalkerOrOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WalkerOrOwner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuggestedWalkTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuggestedWalkTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
